$base-font-family: arial sans-serif;
$base-font-size: 16px;
$base-height: 20px;
$base-weight: 400;

$header-weight: 700;

$title-font-size: 22px;
$title-height: 30px;
$title-weight: 700;

$table-width: 1024px;