$base-font-family: arial sans-serif;
$base-font-size: 16px;
$base-height: 20px;
$base-weight: 400;
$base-text-color: #19457d;
$base-text-background: #fff;

$header-weight: 700;
$header-background: #19457d;
$header-hover-bacground: lighten($header-background, 20%);
$header-text-color: #fff;

$title-font-size: 22px;
$title-height: 30px;
$title-weight: 700;

$table-width: 1024px;

$cell-common-padding: 2px;
$cell-right-padding: 22px;

$icon-size: 17px;

$border-width: 1px;
$border-style: solid;
$border-color: #b5e4fa;
$border-header-color: #fff;
$border: $border-width $border-style $border-color;

$border-mover-width: 0;
$border-mover: $border-mover-width $border-style $border-color;
$mover-width: 2 * $base-height - 2 * $border-mover-width;
$mover-height: $base-height - 2 * $border-mover-width;
$mover-border-radius: 4px;

$add-row-hover-border-color: #fff;
$add-row-hover-color: #fff;
$add-row-hover-background: lighten(#19457d, 20%);
