.simple-table {
	@include table;
	// border: 1px solid black;

	.title {
		display: table-caption;
		@include title;
		text-align: center;
	}

	.cell {
		display: table-cell;
		@include base-text;
		@include ellipsis;
		text-align: right;
		padding: $cell-common-padding;
		padding-right: $cell-right-padding;

		border: $border;

		&.header-cell {
			@include header-text;
			cursor: pointer;
			padding-right: 0;
			border-color: $border-header-color;


			&.ask {
				.sorterer {
					@include sort('ask');
				}
			}

			&.desc {
				.sorterer {
					@include sort('desc');
				}
			}

			&:after {
				content: '';
				display: block;
				visibility: hidden;
				clear: both;
			}

			&:not(:hover) {
				.mover {
					display: none;
				}
			}

			.sorterer {
				text-align: right;
				padding-right: $cell-right-padding;
			}

			.mover {
				float: left;
				width: $mover-width;
				height: $mover-height;

				border: $border-mover;
				border-radius: $mover-border-radius;

				& > div {
					display: inline-block;
					width: 50%;
					@include base-text;
					height: $mover-height;
					line-height: $mover-height;
					text-align: center;
					
					&.left {
						border-top-left-radius: $mover-border-radius;
						border-bottom-left-radius: $mover-border-radius;
					}

					&.right {
						border-top-right-radius: $mover-border-radius;
						border-bottom-right-radius: $mover-border-radius;
					}
				}
			}
		}
	}

	.row {
		display: table-row;
	}

	.col {
		display: table-cell;

		&>div {
			@include table;
			width: 100%
		}
	}
}

.row-add {
	@include table-position;
	@include base-text;
	@include ellipsis;
	text-align: center;
	cursor: pointer;

	border: $border;

	&:hover {
		border-color: $add-row-hover-border-color;
		background: $add-row-hover-background;
		color: $add-row-hover-color;
	}
}

@media screen and (max-width: 800px) {
	.simple-table {
		.row {
			.col {
				.row {
					.cell {
						&.header-cell {
							.mover {
								display: block;
							}
						}
					}
				}
			}
		}
	}
}