.simple-table {
	@include table;
	border: 1px solid black;

	.title {
		display: table-caption;
		@include title;
		text-align: center;
	}

	.cell {
		display: table-cell;
		@include base-text;
		@include ellipsis;
		text-align: right;
		padding: $cell-common-padding;
		padding-right: $cell-right-padding;

		border: 1px solid black;

		&.header-cell {
			@include header-text;
			cursor: pointer;

			&.ask {
				@include sort('ask');
			}

			&.desc {
				@include sort('desc');
			}

			&:after {
				content: '';
				display: block;
				visibility: hidden;
				clear: both;
			}

			&:not(:hover) {
				.mover {
					display: none;
				}
			}

			.sorterer {
				text-align: right;
			}

			.mover {
				float: left;
				width: 2 * $base-height - 2px;
				height: $base-height - 2px;

				border: 1px solid black;
				border-radius: 2px;

				& > div {
					display: inline-block;
					width: 50%;
					@include base-text;
					height: $base-height - 2px;
					line-height: $base-height - 2px;
					text-align: center;
				}
			}
		}
	}

	.row {
		display: table-row;
	}

	.col {
		display: table-cell;

		&>div {
			@include table;
			width: 100%
		}
	}
}

.row-add {
	@include table-position;
	@include base-text;
	@include ellipsis;
	text-align: center;
	cursor: pointer;
}

@media screen and (max-width: 800px) {
	.simple-table {
		.row {
			.col {
				.row {
					.cell {
						&.header-cell {
							.mover {
								display: block;
							}
						}
					}
				}
			}
		}
	}
}